/*fontface*/
@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1455591609_2578578.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1455591609_2578578.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1455591609_2578578.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1455591609_2578578.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1455591609_2578578.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconFonts{
	font-family: 'iconfont';
	font-size: .8rem;
	font-style: normal;
}
/*custom*/
.bg-white{
	background: #fff;
}
.no-margin{
	margin:0
}
.margin-bottom{
	margin-bottom: .25rem;
}
.db{
	display: block
}
.dn{
	display: none;
}
/*base*/
html{
	max-width: 640px;
	min-width: 320px;
}
ul,h1,h2,h3,h4,h5,h6,p,.list-block{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
.pull-to-refresh-layer .pull-to-refresh-arrow{
	background-image: url(../img/refresh.png);
	background-size: cover;
	width:1.6rem;
	height: 1.6rem;
	margin-top:-.8rem;
	margin-left: -.8rem;
}
.infinite-scroll-tips{
	font-size: .7rem;
	color:#666;
}
.bar-tab .tab-item .iconFonts{
	top:.15rem;
	width: 1.2rem;
	height: 1.2rem;
	font-size: 1.2rem;
	line-height: 1.2rem;
	padding-top:0;
	padding-bottom:0
}
.bar .iconFonts{
	position:relative;
	z-index: 20;
	padding:.5rem .1rem;
}
.bar-tab .tab-item .iconFonts~.tab-label{
	display: block;
	font-size: .55rem;
	position: relative;
	top:.15rem
}
.bar .searchbar,
.bar-nav{
	background: #ff4949;
}
.bar-nav a,
.bar-nav h1{
	color: #fff;
}
.search-input input{
	background: #E84141;
	text-indent: 5px;
	color: #fff;
}
.search-input input::-webkit-input-placeholder{
	color: #FFB0B0;
}
.search-input .icon{
	color:#fff
}
.bar .searchbar .searchbar-cancel{
	color: #fff;
}
.bar-nav.bar:after{
	height: 0px;
}
.bar-nav .button{
	border:none;
	color: #fff;
	top:50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.swiper-container{
	padding: 0;
}
.swiper-pagination-bullet-active{
	background: #ff4949;
}
.label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox,
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox{
	background: #ff4949;
}
.list-block .item-title.label{
	width:25%
}
.picker-modal .bar .title{
	color: #fff;
}
.picker-modal{
	background: #fff;
}
/*index-menu*/
.index-menu{
	padding:.5rem;
}
.index-menu p{
	font-size: .6rem;
	margin: 0;
	color: #666;
}
/*index-recom*/
.index-recom{
	padding: 0 2%;
}
.index-recom-1 img{
	border-right: 1px solid #F0F2F7;
}
.index-recom-2 img{
	border-bottom: 1px solid #F0F2F7;
}
.index-recom .col-50{
	width: 50%;
	margin:0;
}
/*index-sort*/
.index-sort{
	padding:.25rem
}
.index-sort .row{
	margin-left: -1.4%;
}
.index-sort .col-50{
	width: 48.6%;
	margin-left: 1.4%;
}
.sort-content{
	overflow: hidden;
}
/*index-item*/
.item-head{
	background: url(../img/line.gif) repeat-x;
	background-position-y:50% ;

}
.item-head span{
	font-size: .7rem;
	color: #999;
	background: #eee;
	padding: 0 .5rem;
}
/*index-tech*/
.index-tech{
	padding: .5rem 0;
	color: #666;
	font-size: .6rem;
	width: 100%;
}
/*sort*/
.sort-left{
	width: 25%;
	overflow-y:scroll;
	background-color: #F6F6F9;
	float: left;
	height: 100%;
	padding-bottom: 2.5rem;
}
.sort-aside li {
	font-size: .7rem;
	padding: .7rem .5rem;
	color: #666;
}
.sort-aside li.active{
	background: #fff;
	border-left: 2px solid #ff4949;
}
.sort-right{
	width: 75%;
	float: right;
	background-color: #fff;
	height: 100%;
	padding: .75rem;
}
.sort-list header{
	font-size: .7rem;
	color: #666;
}
.sort-list ul li{
	width: 33.3%;
	float: left;
	margin-bottom: .5rem;
	padding:0 .5rem;
}
.sort-list ul li:nth-child(3n+1){
	padding-left: 0;
	padding-right:1rem
}
.sort-list ul li:nth-child(3n){
	padding-right: 0;
	padding-left: 1rem;
}
.sort-list ul li p{
	margin:.2rem 0;
}
.sort-list ul li a{
	font-size: .6rem;
	color: #666;
}
/*list*/
.filterbar{
	height: 2.5rem;
	position: fixed;
	left: 0;
	right: 0;
	top:2.2rem;
	z-index: 2;
}
.viewtype-switch{
	width: 3.5rem;
	height: 2.5rem;
	line-height: 2.5rem;
}
.viewtype-switch i{
	font-size: 1.5rem;
	color: #999;
}
.filter-tab{
	padding-right: 3.5rem;
}
.filter-tab li{
	float: left;
	width: 25%;
	height: 2.5rem;
	line-height: 2.5rem;
	color: #666;
	font-size: .7rem;
}
.filter-tab li.active{
	color: #ff4949;
}
.filter-tab li.active i:after{
	border-color: #ff4949;
}
.filter-tab li i{
	position: relative;
}
.filter-tab li.changed i:after{
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 0;
}
.filter-tab li i:after{
	content:'';
	border-style: solid;
	border-color: #ccc;
	border-width: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	display: inline-block;
	position: absolute;
	width: .4rem;
	height: .4rem;
	right: -.7rem;
	top:50%;
	margin-top: -.3rem;
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
/*viewtype*/
.list-content{
	top:2.5rem!important;
	-webkit-overflow-scrolling: touch;
}
.list{
	margin-top:.25rem;
}
.larger-view li{
	width:50%;
	float: left;
	padding: .25rem;
	background: #fff;
	margin-bottom: .25rem;
}
.larger-view a{
	padding-bottom: .25rem;
}
.larger-view p{
	font-size: .7rem;
	color: #666;
	margin:.25rem auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.larger-view span,
.list-view span{
	font-size: .7rem;
	color: #ff4949;
}
.list-view li{
	width:100%;
	padding:.25rem;
	background: #fff;
	margin-bottom: .25rem;
}
.list-view li a{
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
}
.list-view li img{
	width:100px;
	height: 100px;
}
.list-view li a>div{
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	margin-left: .5rem;
	position:relative
}
.list-view li p{
	font-size: .7rem;
	color: #666;
}
.list-view li .item-info span{
	position: absolute;
	bottom: 0;
	left: 0;
}
.mini-view ul{
	padding: .75rem;
}
.mini-view ul li{
	width:30%;
	float: left;
	margin-right:5%;
	margin-bottom: .5rem;
}
.mini-view ul li:nth-child(3n){
	margin:0
}
.mini-view p{
	font-size: .6rem;
	margin-top:.2rem;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.mini-view span{
	font-size: .6rem;
	color: #ff4949;
}
/*detail*/
.pro-info{
	padding-top: .25rem;
}
.pro-title{
	font-size: .7rem;
	color: #666;
}
.pro-original-price{
	color: #ff4949;
	font-size: 1rem;
}
.pro-original-price span{
	border:1px solid #999;
	color: #999;
	font-size: .6rem;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	padding:.1rem .2rem;
}
.pro-special-price{
	color: #999;
	font-size: .6rem;
}
.pro-spec{
	padding: .75rem;
}
.pro-spec-title{
	font-size: .7rem;
	color: #666;
	font-weight: normal;
}
.pro-spec-title + p,
.pro-spec-title + div{
	padding-left: 3rem;
}
.pro-spec-title + p>span{
	font-size: .6rem;
	border:1px solid #D7D7D7;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
	color: #666;
	margin-right: .5rem;
	margin-bottom: .25rem;
	text-align: center;
	padding:.2rem 1rem;
	display: inline-block;
}
.pro-spec-title + p>span.active{
	border-color: #FF4949;
	color: #ff4949;
}
.pro-spec-title + div>span.num-disabled{
	color: #999;
}
.pro-guarantee{
	padding: .75rem;
}
.pro-guarantee ul li{
	display: inline-block;
	color: #666;
	font-size: .7rem;
	margin-right: 1rem;
	margin-bottom: .5rem;
}
.pro-guarantee ul li span{
	background: #ff4949;
	color: #fff;
	width: 1rem;
	height: 1rem;
	display: inline-block;
	text-align: center;
	line-height: 1rem;
	-webkit-border-radius: .2rem;
	-moz-border-radius: .2rem;
	border-radius: .2rem;
}
.pro-detail,
.pro-more-eval{
	border-top:1px solid #F0F2F7;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: .8rem;
	color: #333;
}
.pro-detail i,
.pro-more-eval i{
	color: #333;
	font-size: .8rem;
}
.pro-eval header,
.pro-more header{
	height: 2.5rem;
	line-height: 2.5rem;
	border-bottom: 1px solid #F0F2F7;
	color: #333;
	padding-left: .75rem;
	font-size: .8rem;
}
.pro-eval ul li {
	padding: .75rem;
}
.pro-eval ul li img{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width:2rem;
	height: 2rem;
}
.pro-eval ul li>div{
	padding-left: 3rem;
}
.pro-eval-name{
	color: #FF4949;
	font-size: .7rem;
	font-weight: normal;
}
.pro-eval-content{
	font-size: .7rem;
	color: #666;
	line-height: 1.2rem;
}
.pro-eval-info{
	font-size: .6rem;
	color: #999;
}
.pro-tools{
	width:42%;
	background: rgba(0,0,0,.8);
	height: 2.5rem;
}
.pro-action{
	width:58%;
	height: 2.5rem;
}
.pro-action a{
	width:50%;
	color: #fff;
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: .7rem;
}
.pro-action a:first-child{
	background: #ffb03f;
}
.pro-action a:last-child{
	background: #FF4949;
}
.pro-collect.active span{
	color: #ff4949;
}
.cart span:first-child:after{
	content: attr(data-num);
	position:absolute;
	right:-.3rem;
	top:-.1rem;
	display: block;
	width:1rem;
	height: .6rem;
	text-align: center;
	line-height: .6rem;
	-webkit-border-radius: .4rem;
	-moz-border-radius: .4rem;
	border-radius: .4rem;
	background: #ff4949;
	color: #FFF;
	font-size: .4rem;
}
/*cart*/
.cart-list li{
	padding:.5rem
}
.cart-check{
	width:2.5rem;
	text-align: center;
}
.cart-check i,
.item-credit i{
	display: inline-block;
	width:20px;
	height: 20px;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAA3NCSVQICAjb4U/gAAAALVBMVEX///+hprehprehprehprehprehprehprehprehprehprehprehprehprehprd0XKVXAAAAD3RSTlMAESIzRGZ3iJmqu8zd7v8zDtSdAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAAPVJREFUKJF1k88KQUEUxg/yrygLG4m8gLKVUlZ28gTyAsrCTskLKLL3BFKysJO1IixkYSMkrr5nMPeie+/0OYuZ6TedP3PONyKWecpjYNWKicO8PVh2zDjYSIHTWi0PmzaAeUkk3gYOP5YAhp9THhh8kyww+90XYHySJXG3w3cwtfYRqjb042FuAdyc1dVQV2sWTScMYm96G+KyhfL34uKGRWQkhL4bhtGVFHJu6MNOKlpIFfQqnbsOFZlcdVh5yuasw/RLsNVhFIKlDiP/IHOniWhJtHj6TNoQ2jraZDoOPjg6YioGLhsqMCpFLloub/oR9C/zBsU0n4PhpWahAAAAAElFTkSuQmCC);
	background-size: cover;
	margin-top:1.5rem;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.cart-check i.active,
.item-credit i.active{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAA3NCSVQICAjb4U/gAAAAh1BMVEX/////UAD/UAD/UAD/UAD/UAD/UAD/UAD/UAD/UAD/UAD/UAD/////+vj/9fD/8ev/8On/7OP/6d//5Nj/4NL/3s//2cj/1MH/zLX/w6f/wKP/upv/t5b/rYf/qID/oXb/mWb/jlr/jFj/dTb/cC//biz/bSr/aCP/XhT/Wg7/Vgn/UQL/UADQOR1YAAAALXRSTlMAESJEd4iZqrvM3e7///////////////////////////////////////////9INcYgAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAARJJREFUOI2N1et2wiAMAOBApVZg7j7dzbn71Lz/8w0qcsKtJr/EfgcIDSkADdGpQaMLPahOQCtkb5CE6WWdzbGIeYXOTOncrLOMicp0YdJkq2LRcogLwXOJbK4bVo95TDvEkJGs5kvDSM7CcXF53iH6KXsO7N3RnN2hDyOgaz/9evyIvztQTfe5tBeH00DB0HLfl9au42gAPeFW+zjUMOEeduSPBiwchdvbbdtReGNtkD+lQ5LMmw3y97p0mh7Pq5PvR3efOXc89MBH6d3dX56dSl/hi5NXNedeYVoUXtacK4qszJ6qzpdZVriHzXPFjYXLvgr8y8W+rvwGwG8p7CbFb3v8Rgr81gzsZj9ulX4+0kf/qVXH8bP2GwMAAAAASUVORK5CYII=);
	background-size: cover;
}
.cart-core{
	padding:.5rem 0 .5rem 2.5rem
}
.cart-core>a{
	display: block;
	width:3.5rem;
	height: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
	background: #eee;
}
.cart-core>a img{
	margin-top:10%
}
.cart-core-info{
	padding-left: 4rem;
}
.cart-core-info h5{
	font-weight: normal;
	font-size: .6rem;
	color: #333;
	-webkit-line-clamp: 2;
	-moz-line-clamp: 2;
	-ms-line-clamp: 2;
	-o-line-clamp: 2;
	line-clamp: 2;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	height: 1.7rem;
}
.cart-core-info span{
	font-size: .7rem;
}
.cart-core-info span em{
	font-style: normal;
	color: #999;
}
.cart-footer{
	font-size: .6rem;
	color: #ff4949;
	margin-left: 2.5rem;
	padding-top:.5rem;
	border-top:1px solid #F0F2F7
}
.cart-bar{
	background: rgba(0,0,0,.8);
}
.cart-bar-check,
.cart-bar-total,
.cart-bar-submit{
	height: 2.5rem;
	line-height: 2.5rem;
	font-size: .7rem;
	color: #fff;
}
.cart-bar-check{
	width:20%;
	text-align: right;
}
.cart-bar-check span{
	position:relative;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}
.cart-bar-check span:before{
	content:'';
	position: absolute;
	left: -1.2rem;
	top: 0;
	width: 15px;
	height: 15px;
	display: block;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoBAMAAAB+0KVeAAAAA3NCSVQICAjb4U/gAAAALVBMVEX///+hprehprehprehprehprehprehprehprehprehprehprehprehprehprd0XKVXAAAAD3RSTlMAESIzRGZ3iJmqu8zd7v8zDtSdAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAAPVJREFUKJF1k88KQUEUxg/yrygLG4m8gLKVUlZ28gTyAsrCTskLKLL3BFKysJO1IixkYSMkrr5nMPeie+/0OYuZ6TedP3PONyKWecpjYNWKicO8PVh2zDjYSIHTWi0PmzaAeUkk3gYOP5YAhp9THhh8kyww+90XYHySJXG3w3cwtfYRqjb042FuAdyc1dVQV2sWTScMYm96G+KyhfL34uKGRWQkhL4bhtGVFHJu6MNOKlpIFfQqnbsOFZlcdVh5yuasw/RLsNVhFIKlDiP/IHOniWhJtHj6TNoQ2jraZDoOPjg6YioGLhsqMCpFLloub/oR9C/zBsU0n4PhpWahAAAAAElFTkSuQmCC);
	background-size: cover;
}
.cart-bar-check.active span:before{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAA3NCSVQICAjb4U/gAAAAh1BMVEX/////UAD/UAD/UAD/UAD/UAD/UAD/UAD/UAD/UAD/UAD/UAD/////+vj/9fD/8ev/8On/7OP/6d//5Nj/4NL/3s//2cj/1MH/zLX/w6f/wKP/upv/t5b/rYf/qID/oXb/mWb/jlr/jFj/dTb/cC//biz/bSr/aCP/XhT/Wg7/Vgn/UQL/UADQOR1YAAAALXRSTlMAESJEd4iZqrvM3e7///////////////////////////////////////////9INcYgAAAACXBIWXMAAAsSAAALEgHS3X78AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAARJJREFUOI2N1et2wiAMAOBApVZg7j7dzbn71Lz/8w0qcsKtJr/EfgcIDSkADdGpQaMLPahOQCtkb5CE6WWdzbGIeYXOTOncrLOMicp0YdJkq2LRcogLwXOJbK4bVo95TDvEkJGs5kvDSM7CcXF53iH6KXsO7N3RnN2hDyOgaz/9evyIvztQTfe5tBeH00DB0HLfl9au42gAPeFW+zjUMOEeduSPBiwchdvbbdtReGNtkD+lQ5LMmw3y97p0mh7Pq5PvR3efOXc89MBH6d3dX56dSl/hi5NXNedeYVoUXtacK4qszJ6qzpdZVriHzXPFjYXLvgr8y8W+rvwGwG8p7CbFb3v8Rgr81gzsZj9ulX4+0kf/qVXH8bP2GwMAAAAASUVORK5CYII=);
	background-size: cover;
}
.cart-bar-total{
	width:45%;
	text-align: left;
	margin-left: 5%;
}
.cart-bar-submit{
	text-align: center;
	width:30%;
	background: #ff4949;
}
.cart-null{
	position:absolute;
	width:100%;
	top:50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.cart-null p{
	font-size: .8rem;
	color: #999;
}
/*order*/
.order-content>section header{
	background: #f1f1f1;
	padding: .25rem .75rem;
	font-size: .7rem;
	color: #999;
}
.order-content>section>div{
	padding: .5rem .75rem;
	position: relative;
}
.order-address h5{
	font-size: .7rem;
	color: #333;
	font-weight: normal;
}
.order-address p{
	font-size: .6rem;
	color: #999;
}
.order-address>div i{
	position: absolute;
	font-size: .6rem;
	right:.75rem;
	top:50%;
	-webkit-transform: translateY(-50%);
	color: #999;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.order-address>a{
	display: block!important;
	text-align: center;
	padding:.5rem 0;
	font-size: .75rem;
	color: #333;
}
.order-item li{
	padding:.5rem .75rem;
	border-bottom: 1px solid #F0F2F7;
}
.order-item-img{
	width:20%
}
.order-item-info{
	width:55%;
	margin-left: 5%;
}
.order-item-info h5{
	font-weight: normal;
	color: #333;
	font-size: .7rem;
}
.order-item-info p{
	color: #999;
	font-size: .6rem;
}
.order-item-total{
	width:20%;
	text-align: right;
	color: #999;
	font-size: .6rem;
}
.order-item-total h5{
	font-weight: normal;
	font-size: .7rem;
	color: #ff4949;
}
.order-other-remark textarea{
	border:none;
	width: 100%;
	font-size: .7rem;
	color: #666;
}
.order-total .list-block .item-content{
	padding: 0;
}
.order-total .list-block .item-media+.item-inner{
	margin:0
}
.order-total .item-inner{
	font-size: .7rem;
	color: #333;
}
.order-total .item-after{
	color: #ff4949;
}
.item-coupon .item-title span{
	background:#FF4949;
	color: #FFF;
	margin-left: .75rem;
	padding:.1rem .5rem;
	font-size: .6rem;
	-webkit-border-radius: .25rem;
	-moz-border-radius: .25rem;
	border-radius: .25rem;
}
.item-credit .item-title small{
	color: #ff4949;
}
.item-credit i{
	margin:0;
}
.item-credit .item-after{
	display: none;
}
.item-credit i.active ~ .item-after{
	display: block;
}
.order-bar{
	background: rgba(0,0,0,.8);
}
.order-bar span,
.order-bar a{
	height: 2.5rem;
	line-height: 2.5rem;
	color: #fff;
	font-size: .7rem;
}
.order-bar span{
	padding-left: .75rem;
	color: #fff;
}
.order-bar a{
	text-align: center;
	width:30%;
	background: #ff4949;
}
.popup-coupon .ticket-list img{
	-webkit-filter: grayscale(100%);
	filter:grayscale(100%);
}
.popup-coupon .ticket-list li.active img{
	-webkit-filter: grayscale(0);
	filter:grayscale(0);
}
/*address*/
.address-content .list-block{
	font-size: .7rem;
}
.popup-address .item-title{
	font-size: .7rem;
	color: #333;
}
.popup-address .item-input input,
.popup-address .item-input textarea{
	font-size: .7rem;
	color: #666;
}
.popup-address .item-input textarea{
	padding-top: .6rem;
}
/*result*/
.result-bar {
	background: #f7f7f8;
}
.result-bar a,
.result-bar h1{
	color: #3D4145;
}
.order-state{
	background: #ff4949 url(../img/store.png) no-repeat 90% center;
	background-size: 15%;
	padding: 1rem 2rem;
	font-size: .7rem;
	color: #fff;
}
.result-info{
	padding:.75rem
}
.result-info p {
	font-size: .75rem;
}
.result-info p:first-child{
	border-bottom: 1px solid #F0F2F7;
	padding-bottom: .25rem;
}
.result-info .result-pay{
	padding-top: .25rem;
	font-size: .75rem;
}
.result-info .result-pay big{
	color: #FF4949;
}
.result-info .row{
	margin-top: .5rem;
}
/*order-detail*/
.order-step1 li{
	font-size: .7rem;
	padding:0 .75rem;
	min-height: 2.2rem;
	line-height: 2.2rem;
}
.order-step1 li:first-child{
	border-bottom: 1px solid #F0F2F7;
}
.order-step1 li p{
	line-height: 1.2rem;
	padding-left: 1.55rem;
	padding-bottom: .5rem;
	word-break: break-all;
}
.order-step1 li i{
	font-size: 1rem;
	margin-right: .5rem;
}
.order-detail-content>section>header{
	background: #f1f1f1;
	padding: .25rem .75rem;
	font-size: .6rem;
	color: #999;
}
.order-step3 .list-block .item-content{
	padding-left:.75rem
}
.order-step3>header{
	font-size: .7rem!important;
}
.order-step3 ul{
	background: none;
}
.popup-eval .content{
	padding: .75rem;
}
.popup-eval .content textarea{
	width:100%;
	font-size: .7rem;
	color: #333;
	box-sizing: border-box;
	padding: .25rem;
	border-width:0 0 1px 0
}
/*ucenter*/
.ucenter-info{
	padding: 1rem 2rem;
	background: url(../img/ucenter-bg.png) no-repeat center;
}
.ucenter-photo{
	width:30%;
	margin:0 auto
}
.ucenter-photo a{
	position: relative;
	display: block
}
.ucenter-photo a img{
	display: block
}
.ucenter-photo a:after{
	content:'';
	position: absolute;
	display: block;
	border:6px solid rgba(255,255,255,.3);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	box-sizing: border-box;
	animation: uPBorder 1.5s ease infinite;
	-webkit-animation:uPBorder 1.5s ease infinite;
}

@-webkit-keyframes uPBorder{
	from{left: 0;top:0;width:100%;height:100%;opacity: 1;}
	to{left: -10%;top:-10%;width:120%;height:120%;opacity: 0;}
}
@keyframes uPBorder{
	from{left: 0;top:0;width:100%;height:100%;opacity: 1;}
	to{left: -10%;top:-10%;width:120%;height:120%;opacity: 0;}
}
.ucenter-photo img{
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}
.ucenter-photo p{
	font-size: .75rem;
	color: #fff ;
}
.ucenter-message,
.ucenter-collect{
	color: #fff;
	margin-top: 1.5rem;
}
.ucenter-message a,
.ucenter-collect a{
	color: #fff;
}
.ucenter-message span,
.ucenter-collect span{
	font-size: .7rem;
}
.ucenter-function .list-block ul{
	background: none;
}
.ucenter-function li .item-title{
	font-size: .75rem;
	color: #333;
}
.ucenter-function li .item-after{
	font-size: .6rem;
	color: #999;
}
.ucenter-function li a,
.up-content ul a{
	color: #333;
	display: block;
	width: 100%;
}
.ucenter-order,
.ucenter-assets{
	padding:.25rem 0;
}
.ucenter-order .row{
	overflow: visible;
}
.ucenter-order a,
.ucenter-assets a{
	color: #666;
	font-size: .6rem;
	display: block;
}
.ucenter-order a i{
	font-size: 1.1rem;
	position: relative;
}
.ucenter-order a.active i:after{
	content:attr(data-num);
	position: absolute;
	display: block;
	right:-.4rem;
	top:-.4rem;
	width:.8rem;
	height: .8rem;
	line-height: .8rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #ff4949;
	color: #fff;
	font-size: .6rem;
	text-align: center;
}
.ucenter-assets a i{
	font-style: normal;
	font-size: 1.1rem;
}
/*ucenter profile*/
.up-content ul{
	background: none;
}
.up-content ul .item-title{
	font-size: .75rem;
	color: #333;
}
.up-content ul .item-after{
	font-size: .7rem;
	color: #666;
	max-height: none
}
/*collect*/
.collect-page .list-content{
	top:2.2rem!important
}
.collect-list .item-info i{
	position: absolute;
	right:0;
	bottom:0;
	color: #666;
}
/*message*/
.message-list img{
	width:2.2rem
}
.message-list .item-title{
	font-size: .75rem;
	color: #333;
}
.message-list .item-subtitle{
	font-size: .7rem;
	color: #999;
}
.message-list .item-time{
	position: absolute;
	right:.75rem;
	top:.5rem;
	font-size: .6rem;
	color: #999;
}
.message-detail{
	padding: .75rem;
}
.message-detail h3{
	text-align: center;
	font-weight: normal;
	font-size: .8rem;
	color: #333;
}
.message-detail time{
	font-size: .6rem;
	color: #999;
	display: block;
	text-align: center;
}
.message-detail article{
	margin-top: .25rem;
	font-size: .7rem;
	color: #666;
	line-height: 1.2rem;
}
.message-detail article p{
	text-indent: 2em;
	margin-bottom: .25rem;
}
/*ucenter order*/
.uo-list-header{
	padding:.25rem 0;
	border-bottom: 1px solid #F0F2F7;
}
.uo-list-header h6{
	font-size: .6rem;
	color: #666;
	font-weight: normal;
}
.uo-list-header span{
	background: #ff4949;
	color: #fff;
	font-size: .6rem;
	padding:0 .25rem
}
.uo-list-header~a{
	margin-top: .25rem;
}
.uo-tabs .item-info span small{
	color: #999;
}
.uo-tabs li a{
	border-bottom: 1px solid #F0F2F7;
	padding-bottom: .25rem;
}
.uo-tabs li a:last-child{
	border-bottom: none;
}
.uo-bt a{
	font-size: .7rem!important;
	background: #474747;
	color: #999!important;
}
.uo-bt a.active{
	color: #FF4949!important;
	border-color: #ff4949!important;
}
/*ticket*/
.ticket-list{
	padding: .75rem;
}
.ticket-list li{
	position: relative;
}
.ticket-list li img{
	display: block
}
.ticket-list li p{
	position: absolute;
	top:50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: .5rem;
	font-size: .7rem;
	color: #333;
}
.ticket-list li p small{
	color: #666;
	font-size: .6rem;
}
/*credit*/
.credit{
	background: -webkit-linear-gradient(-90deg, #ff4949 0, #ff4949 1%, #ff6666 100%);
	background: -moz-linear-gradient(180deg, #ff4949 0, #ff4949 1%, #ff6666 100%);
	background: linear-gradient(180deg, #ff4949 0, #ff4949 1%, #ff6666 100%);
	background-position: 50% 50%;
	padding:1rem;
	color: #fff;
}
.credit h3{
	font-weight: normal;
	font-size: .7rem;
}
.credit span{
	font-size: 3rem;
}
.credit-list{
	padding:.75rem
}
.credit-list header{
	width:100%;
	height: 1px;
	background: #F0F2F7;
	position: relative;
	margin-bottom: .5rem;
}
.credit-list header span{
	position:absolute;
	font-size: .7rem;
	color: #666;
	top:-.45rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	padding:0 .5rem;
	background: #fff;
}
.credit-list .list-block ul:before{
	height: 0;
}
.credit-list .item-content{
	padding: 0;
}
.credit-list .item-title{
	font-size: .7rem;
	color: #333;
}
.credit-list .item-subtitle{
	font-size: .6rem;
	color: #999;
}
.credit-list .credit-num{
	position: absolute;
	right:0;
	top:50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.credit-list .credit-num.plus{
	color: #ff4949;
}
.credit-list .credit-num.minus{
	color: #82DA78;
}
/*tools*/

	/*scrollTop*/
	.scrollTop{
		position: fixed;
		right:1rem;
		bottom: 3.5rem;
		background: rgba(0,0,0,.5);
		-webkit-border-radius: .5rem;
		-moz-border-radius: .5rem;
		border-radius: .5rem;
		z-index: 11;
		width: 2rem;
		height: 2rem;
		color: #fff;
		text-align: center;
		line-height: 2rem;
		z-index: 3;
	}
	.scrollTop i {
		font-size: 1rem;
	}

	/*search-layer*/
	.search-layer{
		background: #fff;
		position: absolute;
		top:2.2rem;
		bottom:0;
		width: 100%;
		z-index: 11;
	}
	.search-layer-hot .item-head span{
		background: #fff;
	}
	.search-layer-hot-body ul li{
		display: inline-block;
		font-size: .7rem;
		border:1px solid #d7d7d7;
		-webkit-border-radius: .8rem;
		-moz-border-radius: .8rem;
		border-radius: .8rem;
		padding: .1rem .5rem;
		margin-bottom: .5rem;
		color: #666;
	}
	.search-layer-hot-body ul li:active{
		background: #D7D7D7;
		color: #fff;
	}
	/*num*/
	.num-reduce,
	.num-val,
	.num-add{
		border:1px solid #d7d7d7;
		color: #333;
		width:1.5rem;
		height: 1.5rem;
		text-align: center;
		line-height: 1.5rem;
		font-size: .9rem;
	}
	.num-reduce{
		border-top-left-radius: .2rem;
		-webkit-border-top-left-radius: .2rem;
		border-bottom-left-radius: .2rem;
		-webkit-border-bottom-left-radius: .2rem;
		border-right-width: 0;
	}
	.num-val{
		font-style: normal;
		width: 3rem;
		font-size: .7rem;
	}
	.num-add{
		border-top-right-radius: .2rem;
		-webkit-border-top-right-radius: .2rem;
		border-bottom-right-radius: .2rem;
		-webkit-border-bottom-right-radius: .2rem;
		border-left-width: 0;
	}
	/*null*/
	.null{
		position: absolute;
		width:100%;
		left: 50%;
		top:50%;
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		-o-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		display: none;
	}
	.null h6{
		font-size: .75rem;
		color: #333;
		font-weight: normal;
		margin:1rem 0 .25rem 0
	}
	.null p {
		font-size: .6rem;
		color: #999;
	}

	[v-cloak] {
		display: none;
	}

.dn {
  display: none;
}
